{% extends "index.html" %}
{% load staticfiles %}
{% load show_snugget %}

{% block info-instructions %}
  <div class="information-instructions" ></div>
{% endblock info-instructions %}

{% block search %}
      <div class="location-form">
        <div class="row">
           <div class="small-12 medium-8 medium-push-1 columns">
               <div class="row collapse">
                 <div class="small-10 columns">
                   <input id="location-text" type="text" placeholder="Your address, your city" />
                   <div class="geocode-error-message"></div>
                 </div>
                 <div class="small-2 end columns">
                   <a id="location-submit" class="button postfix"></a>
                 </div>
               </div>
              <div class="row hidden-for-medium-up">
                <div class="small-6 small-centered columns form-icon-button">
                   <a class="auto-location-submit button radius caps">Find Me</a>
                </div>
                <div class="small-12 hide-for-small medium-3 columns form-icon-button">
                  <a class="auto-location-submit button radius caps">Find Me</a>
               </div>
              </div>
           </div>
        </div>
      </div>
{% endblock search %}

{% block map %}
<div class="row">
  <div class="small-12 column">
    <div id="map"></div>
  </div>
</div>
{% endblock map %}

{% block main-content %}
  <div class="row disaster-container">
    <div class="small-12 column">
      <ul class="tabs disaster-tabs" data-tab>
        {% for group, hazard in data.items %}
          {% if forloop.first %}
            <li class="tab-title active"><a href="#{{group}}">{{hazard.heading}}</a></li>
          {% else %}
            <li class="tab-title"><a href="#{{group}}">{{hazard.heading}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tabs-content disaster-tabs-content">
      {% for group, hazard in data.items %}
        {% if forloop.first %}
          <div class="content active disaster-content" id="{{group}}">
        {% else %}
          <div class="content disaster-content" id="{{group}}">
        {% endif %}
        {% if hazard.likely_scenario_title %}
          <div class="likely-scenario">
            <p><span class="caps">{{ hazard.likely_scenario_title }}: </span>{{ hazard.likely_scenario_text }}</p>
          </div>
          {% endif %}
          {% for section, sub_sections in hazard.sections.items %}
            <div class="snugget-text">
              <div class="section-icon section-icon--dynamic section-icon--{{ section }}">
                <h3 class="caps section-title">{{ section }}</h3>
              </div>
              <div class="section-content">
                {% for sub_section, snuggets in sub_sections.items %}
                  <h4>{{ sub_section }}</h4>
                  {% for snugget in snuggets %}
                    {% show_snugget snugget %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-icon section-icon--supply-kit small-2 column"></div>
    <div class="small-10 medium-5 column">
      <h3 class="caps">Supply Kit</h3>
      {% include "supply-kit.html" %}
    </div>

    <div class="section-icon section-icon--link small-2 column"></div>
    <div class="small-10 medium-5 column end">
      <h3 class="caps">Important Links</h3>
      {% for link in important_links %}
      <h5>{{ link.title }}</h5>
      <p>{{ link.link | urlize }}
      {% endfor %}
    </div>
  </div>

  <div class="row">
      <div class="section-icon section-icon--community small-2 column"></div>
      <div class="small-10 medium-5 column end">
      <h3 class="caps">Community Leaders</h3>
      <p>{{ location.community_leaders | urlize }}</p>
    </div>
  </div>

{% endblock main-content %}
