{% extends "index.html" %}
{% load staticfiles %}
{% load show_snugget %}

{% block info-instructions %}
  <div class="information-instructions" role="complementary"></div>
{% endblock info-instructions %}

{% block map %}
<div class="row">
  <div class="small-12 column">
    <div id="map"></div>
  </div>
</div>
{% endblock map %}

{% block main-content %}
  <div role="main" class="row disaster-container">
    <div class="small-12 column">
      <ul role="group" class="tabs disaster-tabs" data-tab>
        {% for group, hazard in data.items %}
          {% if forloop.first %}
            <li class="tab-title active"><a href="#{{group}}">{{hazard.heading}}</a></li>
          {% else %}
            <li class="tab-title"><a href="#{{group}}">{{hazard.heading}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tabs-content disaster-tabs-content">
      {% for group, hazard in data.items %}
        {% if forloop.first %}
          <div class="content active disaster-content" id="{{group}}">
        {% else %}
          <div class="content disaster-content" id="{{group}}">
        {% endif %}
        {% if hazard.likely_scenario_title %}
          <div class="likely-scenario">
            <p>{{ hazard.likely_scenario_text }}</p>
          </div>
          {% endif %}
          {% for section, sub_sections in hazard.sections.items %}
            <div class="snugget-text">
              <div class="section-icon section-icon--dynamic section-icon--{{ section }}">
                <h2 class="caps section-title">{{ section }}</h2>
              </div>
              <div class="section-content">
                {% for sub_section, snuggets in sub_sections.items %}
                  <h3>{{ sub_section }}</h3>
                  {% for snugget in snuggets %}
                    {% show_snugget snugget %}
                  {% endfor %}
                {% endfor %}
                {% if section.name == "Past Events" and hazard.photos %}
                  <h3>Photos of Past Events</h3>
                  <div class="past-photos">
                    {% for photo in hazard.photos %}
                     <img alt="A historical image of {{ hazard.heading }} in {{ location.areaname }}" class="slideshow-image" data-lazy="{{ photo }}"/>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-icon section-icon--supply-kit small-2 column"></div>
    <div class="small-10 medium-5 column">
      <h2 class="caps">Supply Kit</h2>
      {% include "supply-kit.html" %}
    </div>

    <div class="section-icon section-icon--link small-2 column"></div>
    <div class="small-10 medium-5 column end">
      <h2 class="caps">Important Links</h2>
      {% for link in important_links %}
      <h4>{{ link.title }}</h4>
      <p>{{ link.link | safe }}
      {% endfor %}
    </div>
  </div>

  <div class="row">
      <div class="section-icon section-icon--community small-2 column"></div>
      <div class="small-10 medium-5 column end">
      <h2 class="caps">Community Leaders</h2>
      <p>{{ location.community_leaders | safe }}</p>
    </div>
  </div>

{% endblock main-content %}
