<div role="content-info" class="user-interaction-container">
  <div id="user-button-container" class="row vert-pad-medium">
    <div class="small-12 medium-6 columns user-interaction__buttons">
      <a href="#" class="button button--login">Log In</a>
      <a href="#" class="button button--signup">Sign Up</a>
    </div>
    <div class="small-12 medium-6 columns">
      <p><strong>Why should you sign up?</strong></p>
      <p>Sign up to help Missoula County emergency crew prepare you for a potential disaster. Learn about events in your area, and receive messages from us.</p>
    </div>
  </div>
  <div id="user-signup-container" class="row vert-pad-medium">
    <form id="user-signup__form">
      <div class="small-12 medium-6 columns">
        <label>Email address (this will be your username)
          <input type="email" id="username" required placeholder="Required."/>
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>Password (more than 8 characters long, please)
          <input type="password" id="password" required placeholder="Required." />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>Street Address
          <input type="text" id="address1" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>Other Address Information
          <input type="text" id="address2" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>City
          <input type="text" id="city" />
        </label>
      </div>
      <div class="small-6 medium-3 columns">
        <label>State
          <input type="text" id="state" placeholder="MT" />
        </label>
      </div>
      <div class="small-6 medium-3 columns">
        <label>Zip Code
          <input type="text" id="zip" placeholder="598..." />
        </label>
      </div>
    </form>
  </div>
</div>
