<div role="content-info" id="user-interaction-container">
  <div class="row vert-pad-medium">
    <div class="small-12 medium-6 columns user-interaction__buttons">
      <a href="#" class="button button--login">Log In</a>
      <a href="#" class="button button--signup">Sign Up</a>
    </div>
    <div class="small-12 medium-6 columns">
      <p><b>Why should you sign up?</b></p>
      <p>Sign up to help Missoula County emergency crew prepare you for a potential disaster. Learn about events in your area, and receive messages from us.</p>
    </div>
  </div>
</div>
