<div role="content-info" class="user-interaction-container">
  <div id="user-button-container" class="row vert-pad-medium">
    <div class="small-12 medium-6 columns">
      <p><strong>Why should you sign up?</strong></p>
      <p>Sign up to help Missoula County emergency crew prepare you for a potential disaster. Learn about events in your area, and receive messages from us.</p>
    </div>
    <div class="small-12 medium-6 columns user-interaction__buttons">
      <a href="#user-login-container" class="button" id="button--login">Log In</a>
      <a href="#user-signup-container" class="button" id="button--signup">Sign Up</a>
    </div>
  </div>
  <div id="user-login-container" class="row vert-pad-medium">
    <form id="user-login__form">
      <div class="small-12 medium-6 columns">
        <label>Username (your email address)
          <input type="email" id="user-login__username" required placeholder="Required."/>
        </label>
        <label>Password
          <input type="password" id="user-login__password" required placeholder="Required." />
        </label>
      </div>
      <div class="small-12 medium-6 columns user-interaction__buttons">
        <a href="#" class="button" id="user-login__submit">Log In</a>
        <a href-"#user-button-container" class="button button--cancel">Cancel</a>
      </div>
    </form>
  </div>
  <div id="user-signup-container" class="row vert-pad-medium">
    <form id="user-signup__form">
      <div class="small-12 medium-6 columns">
        <label>Email address (this will be your username)
          <input type="email" id="user-signup__username" required placeholder="Required."/>
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>Password (more than 8 characters long, please)
          <input type="password" id="user-signup__password" required placeholder="Required." />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>Street Address
          <input type="text" id="user-signup__address1" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>Other Address Information
          <input type="text" id="user-signup__address2" />
        </label>
      </div>
      <div class="small-12 medium-6 columns">
        <label>City
          <input type="text" id="user-signup__city" />
        </label>
      </div>
      <div class="small-6 medium-3 columns">
        <label>State
          <input type="text" id="user-signup__state" placeholder="MT" />
        </label>
      </div>
      <div class="small-6 medium-3 columns">
        <label>Zip Code
          <input type="text" id="user-signup__zip" placeholder="598..." />
        </label>
      </div>
      <div class="small-12 columns user-interaction__buttons">
        <a href="#" class="button" id="user-signup__submit">Sign Up</a>
        <a href-"#user-button-container" class="button button--cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
