h1.cdm_style {
	font-family: Arial Unicode MS;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	font-style: normal;
	text-decoration: none;
}

h2.cdm_style {
	font-family: Arial Unicode MS;
	font-size: 18px;
	font-weight: bold;
	color: #005057;
	font-style: normal;
	text-decoration: none;
}

h3.cdm_style {
	font-family: Arial Unicode MS;
	font-size: 14px;
	font-weight: bold;
	color: #005057;
	font-style: normal;
	text-decoration: none;
}

.body_text_10 {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: #000000;
}

body {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000000;
}

.body_link_11 {
	font-family: Arial Unicode MS;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #080808;
}

.body_link_11:hover {
	color: #66551d;
	text-decoration: underline;
	font-style: normal;
}

.body_link_11:visited { color: #005057; }

.action_link_10 {
	font-family: Arial Unicode MS;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #005057;
}

.action_link_10:hover {
	color: #66551d;
	text-decoration: underline;
	font-style: normal;
}

.action_link_10:visited { color: #66551d; }
